<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>ARTICELS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>INDEX<span>
    
<div class="PageHead-article">
  <div class="PageHead-article_title">
    <h2>ARTICLES</h2>
  </div>
  <div class="PageHead-article_text">
    <h2>投稿された記事の一覧ページです。</h2>
  </div>
  
<div class="article-display">
  <% @articles.each do |article| %>
    <div class="article-box">
      <%= link_to(article_path(article)) do %>
        <h6 class="article-box_date"><%= article.created_at.strftime('%Y/%m/%d') %></h6>
        <h4 class="article-box_title"><%= article.title %><h4>
        <%= attachment_image_tag(article, :image, format: 'jpeg',class: "article-box_image") %>
        <h6 class="article-box_text"><%= article.body.truncate(20) %></h6>
      <% end %>
    </div>
  <% end %>
</div>