<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>CHIROPRACTORS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>INDEX<span>
    
<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>CHIROPRACTORS</h2>
  </div>
  <div class="PageHead_practator-text">
    <h2>ABOUT</h2>
  </div>
  
<div class="chiropractor-display">
  <h2 class="chiropractor-display_title">登録済み整体師一覧ページ</h2>
  <% @chiropractors.each do |chiropractor| %>
    <div class="chiropractor-box">
      <%= link_to(chiropractor_chiropractor_path(chiropractor)) do %>
        <h2 class="chiropractor-box_name"><%= chiropractor.nickname %></h2>
        <%= attachment_image_tag(chiropractor, :image, width:"110px", format: 'jpeg',class: "chiropractor_box_image") %>
        <p class="chiropractor_box_fee">施術料金&nbsp;&nbsp;¥<%= chiropractor.service_charge.to_s(:delimited) %>/時間</p>
        <p class="chiropractor_box_nearest-station small">最寄り駅&nbsp;&nbsp;🚃<%= chiropractor.nearest_station %></p>
      <% end %>  
    </div>
  <% end %>
</div>