<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>CHIROPRACTORS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>EDIT<span>
    
<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>CHIROPRACTORS</h2>
  </div>
  <div class="PageHead_practator-text">
    <h2><%=@chiropractor.nickname%>の編集ページ</h2>
  </div>
</div>

<div class="chiropractor_edit-display">
  <h1 class="chiropractor_edit-display_title">EDIT</h1>
  <h4 class="chiropractor_edit-display_text">
    必要情報の更新を行います。<br><br>
    以下の項目を入力していただき、「編集完了」ボタンを押してください。
  </h4>
  <p class="signup-display_text2"><span class="required_item">*</span>は必須項目です。</p>
  <%= form_with model:@chiropractor, url: chiropractor_chiropractor_path(@chiropractor), local:true do |f| %>
    <div class="chiropractor_edit-display_form">
      <div class="form-group form-inline">
        <%= f.label :nickname, 'ニックネーム', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :name, 'お名前（姓・名）', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "氏名（姓・名）", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline">
        <%= f.label :sex, "性別", class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.radio_button :sex, "male", checked: true %>
        <h5 class="mt-2 ml-1">男性</h5>
        <%= f.radio_button :sex, "female", class:"ml-4" %>
        <h5 class="mt-2 ml-1">女性</h5>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :image, 'プロフィール画像', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.attachment_field :image, class:"col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :postal_code, '郵便番号', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000", class:"form-control col-sm-2" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <div class="col-sm-2"></div>
        <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", placeholder: "市区町村名", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <div class="col-sm-2"></div>
        <%= f.text_field :address_street, autofocus: true, autocomplete: ":address_street", placeholder: "番地・ビル名", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :nearest_station, '最寄り駅', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :nearest_station, autofocus: true, autocomplete: "nearest_station", placeholder: "東京駅", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :service_charge, 'サービス料', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :service_charge, autofocus: true, autocomplete: "service_charge", placeholder: "一時間当たりのサービス料を入力してください。", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :fare, '運賃料', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :fare, autofocus: true, autocomplete: "service_charge", placeholder: "運賃料を入力してください。", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :age, '年齢', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :age, autofocus: true, autocomplete: "age", placeholder: "数字のみを入力してください。", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :phone_number, '電話番号', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "00000000000", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :email, 'メールアドレス', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control col-sm-4" %>
      </div>
      
      <div class="form-group form-inline mt-4">
        <%= f.label :treatment_time, '施術時間', class:"col-sm-2 control-label font-weight-lighter small" %>
        <%= f.text_field :treatment_time, autofocus: true, autocomplete: "treatment_time", placeholder: "施術時間を数字のみ入力してください。", class:"form-control col-sm-4" %>
      </div>

      <div class="signup-button">
        <%= f.submit "編集完了", class:"btn btn-secondary col-sm-6" %>
      </div>
    </div>
  <% end %>
</div>