<div class="breadcrumb-navigation_signup">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>ADMINISTRATOR<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>LOGIN<span>

<div class="PageHead_login">
  <div class="PageHead_login_title">
    <h2>LOGIN</h2>
  </div>
  <div class="PageHead_login_text">
    <h2>login</h2>
  </div>
</div>

<div class="login-display">
　<h1 class="login-display-title">LOGIN</h1>
  <h4 class="login-display-text">
    必要事項を入力し、「ログインする」ボタンを押してください。<br>
    <span class="required_item">※こちらは管理者用のログインページです。</span>
  </h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-display_form">
    <div class="form-group form-inline">
      <%= f.label :name, '管理者名', class:"col-sm-2 control-label font-weight-lighter small" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control col-sm-4" %>
    </div>
  
    <div class="form-group form-inline">
      <%= f.label :email, 'メールアドレス', class:"col-sm-2 control-label font-weight-lighter small" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control col-sm-4" %>
    </div>

    <div class="form-group form-inline">
      <%= f.label :password, 'パスワード', class:"col-sm-2 control-label font-weight-lighter small" %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control col-sm-4" %>
    </div>
    
    <div class="login-button">
      <%= f.submit "ログイン", class:"btn btn-secondary col-sm-6 mt-5" %>
    </div>
  <% end %>
  </div>
</div>