<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="l-header">
        <a href="/"><h1 class="header-logo"></h1></a>
        <nav>
          <ul class="nav-main">
            <li><%= link_to "HOME", root_path, class:"nav-color ml-5" %></li>
            <li><%= link_to "ABOUT", about_path, class:"nav-color ml-4" %></li>
            <li><%= link_to "ARTICLES", root_path, class:"nav-color ml-4" %></li>
            <li><%= link_to "PRACTATORS", root_path, class:"nav-color ml-4" %></li>
          </ul>
        </nav>
        <div class="l-header_header-box">
          <ul class="l-header_header-box">
            <li class="registration">
              <%= link_to "REGISTRATION", new_user_registration_path, {class: "header-box_color"} %>
              <i class="fa fa-user fa-lg header-box_icon"></i>
            </li>
            <li class="login">
              <%= link_to "LOGIN", new_user_session_path, {class: "header-box_color"} %>
              <i class="fa fa-lock fa-lg header-box_icon"></i>
            </li>
            <li class="mypage">MYPAGE</li>
          </ul>
        </div>
      </header>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
